doctype html
html
  head
    meta(charset="utf-8")
    title Wanikani Writing Prompt
    link(href="//fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="main.css")

  body
    h1 Welcome to the Wanikani&nbsp;Writing&nbsp;Prompt!
    main
      #explanation
        p <strong>Situation</strong>: You know hundreds, maybe thousands of words on Wanikani, but when you sit down to write something on #[a(href='http://lang-8.com', target="_blank") Lang-8], you don't remember any of them. (I've been there.)
        p So here is this.
        ol
          li You put in your API-key
          li Your words are fetched and randomized
          li Et voila: <strong>three words to write</strong> a story / article / sentence with
        p Don't like them? Just take another spin.
        form#fetch
          label(for="key") API-key: 
          input#key(name="key")
          input(type="submit", value="Fetch")
        p All of this is done local, on your own computer.

      #app
        input#startagain(type="button", value="New words")
        p (but I wanted
          select#amount(name="amount")
            each n in [1,2,3,4,5,6,7,8,9,10]
              option(value=n, selected= n==3) #{n}
          | words...)

        p Here are your words:
        ol#output

      script#word(type='text/template')
        li.word
          .level <%= userSpecific ? userSpecific.srs : 'locked' %>
          .japanese
            .kana <%= kana %>
            .kanji <%= character %>
          .meaning <%= meaning %>

    .copy 
      | By Seb, code on #[a(href='http://github.com/sebsel/wk-writingprompt', target="_blank") Github]
      input#forgetme(type="button", value="forget me")

          




  script(src="underscore.min.js", type="text/javascript", charset="utf-8")
  script(src="wkapi.min.js", type="text/javascript", charset="utf-8")
  script(src="app.min.js", type="text/javascript", charset="utf-8")